body {
  background-color: antiquewhite;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  margin:0%;
}

  .navbar {
    background-color: darkslategray;
    padding: 10px 0;
    text-align: center; 
    font-family: 'Inter', sans-serif; 
  }

  .navbar ul {
    list-style: none;
  }
  
  .navbar li {
    display: inline-block; 
    margin: 0 10px; 
  }
  
  .navbar a {
    text-decoration: none; 
    color: antiquewhite;
    font-weight: bold; 
    font-size: 16px; 
  }
  
  @media (max-width: 375px) {
    .navbar {
      padding: 10px;
    }
  
    .navbar li {
      margin: 5px; 
    }
  }

  .testing {
    padding: 10px 0;
    text-align: center; 
  }

  footer {
    margin-top: bottom;
    text-align: center; 
  }

